@import "../Log/logout.scss";
@import "../../login/login.scss";
@import "../../Home/home.scss";
@import "../../about//about.scss";
@import "../media.scss";
@import 'react-toastify/dist/ReactToastify.css';
header{
    background-color:$primery ;
    height: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5rem;
    position: fixed;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    width: 100%;
    div{
        display: flex;
        font-size: 3rem;
    }
    article{
        display: flex;
        gap: 1rem;
        a{
            color: white;
            padding: 1rem;
            &:hover{
                transition: .5s;
                background-color: white;
                color: $primery;
            }
        }
    }
}
