@media only screen and (min-device-width: 375px) and (max-device-width: 667px) {
    //for login
    .login_con {
        .login {
            input,
            button {
                width: 34rem;
            }
        }
    }
    //for home
    .login_con{
        .todo {
            form {
            button,input,textarea{
                width: 34rem;
            }
            }
        }
    }
    .servercon{
        .con{
            min-width: 34;
        }
    }
    
}
