@import "../components/color.scss";
.login_con{
    .task_container{
        overflow: auto;
        display: flex;
        width: 100dvw;
        justify-content: center;
        max-height: calc(100dvh - 36.2rem);
        border-top: 1px solid rgba(128, 128, 128, 0.473);
        border-bottom: 1px solid rgba(128, 128, 128, 0.473);
        align-items: center;
        flex-wrap: wrap;
    }
    .todo{  
        >form{
        // background-color: red;
        border-radius: 1.8rem;
        margin-top: 2rem;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        align-items: center;
        display: flex;
        padding: 1rem;
        flex-direction: column;
        justify-content: center;
        gap: .5rem;
        >input{
            padding: 1rem;
            width: 60rem;
            outline-color: $primery;
            border: 1px solid rgba(128, 128, 128, 0.473);
            overflow-x: auto;
        }
        >textarea{
            border: 1px solid rgba(128, 128, 128, 0.473);
            width: 60rem;
            padding: 1rem;
            height: 15rem;
            font-size: 2rem;
            overflow-y: auto;
            outline-color: $primery;
        }
        >button{
            padding: 1rem;
            width: 60rem;
            background-color: $primery;
            color: white;
            border-radius: 0 0 1.5rem 1.5rem;
            border: none;
            outline: none;
            padding: .8rem;
            font-size: 2rem;
            cursor: pointer;
            box-shadow: 0 .5rem #999;
            &:hover{
                background-color: #04aa6d;
                // border: 1rem solid $primery;
                // color: $primery;
                background-color: #3e8e41;
                transition: 1s;
            }
            &:active{
                background-color: #3e8e41;
                box-shadow: 0 .5rem #666;
                transform: translateY(4px);
            }
        }
        }
        
    }
}

//serverComp
.servercon{
    margin: .5rem;
    
    .con{
        border: 1px solid rgba(128, 128, 128, 0.43);
        background-color: white;
        // background-image: url("");
        flex-wrap: wrap;
        // min-width: 620px;
        border-radius: 1.8rem;
        max-width: 90dvw;
        display: flex;
        overflow: auto;
        padding: 1rem;
        align-items: center;
        justify-content: space-between;
        transition: .5s;
        &:hover{
            box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 30px;
        }
       .details{
        // border: 1px solid red;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        word-wrap: break-word;
       }
        svg{
            color: $primery;
            outline: none;
            border: none;
            font-size: 3rem;
            cursor: pointer;
            &:hover{
                color: crimson;
                transition: .5s
                
            }
        }
       
    }
    
}

//for icon
.icon{
    display: flex;
    margin-left: 1rem;
   
}

