@import ".././components/color.scss";
.login_con {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    // border: 1px solid red;
    height: 100dvh;
    .login {
        
        border-radius: 1.5rem;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        padding: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: .5rem;    
        a{
            color: $primery;
        }    
        input{
            width: 50rem;
            padding: .8rem;
            border: 1px solid rgba(128, 128, 128, 0.473);
            outline-color: $primery;
        }
        button{
            width: 50rem;
            border-radius: 0 0 1.5rem 1.5rem;
            padding: .8rem;
            border: none;
            outline: none;
            background-color: $primery;
            color: white;
            font-size: 2rem;
            cursor: pointer;
            &:hover{
                border: 1px solid $primery;
                background-color: white;
                color: $primery;
                transition: .5s;

            }
        }
    }
}
